.image-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.dog {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.caption {
    width: 100%;
    background-color: #308233;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    margin: 0;
    text-transform: capitalize;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .image-box {
        width: 95%;
        height: auto;
    }
}

.image-box span {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 1rem;
    color: #fff;
}

.imageWithErrorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.error span {
    font-size: 1.5rem;
    font-weight: 400;
}

.mydog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}